# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
static/
local_settings.py

# Environment
.env
.env.*
*.env
*.env.*

# VSCode
.vscode/

# Mac
.DS_Store

# Virtualenv
venv/
ENV/
env/
.venv/

# Migrations (optional: keep if you want to version control migrations)
# **/migrations/
# !**/migrations/__init__.py

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# MyPy
.mypy_cache/
.dmypy.json
.pyre/

# Pytest
.pytest_cache/

# Other
*.swp
*.swo